<div class="container reset-password-new-password-form">
  <h3>Podaj nowe hasło</h3>
  <form>
    <div class="p-fluid">
      <div class="p-field">
        <label for="password"></label>
        <input id="password" type="password" pInputText placeholder="Hasło">
      </div>
      <div class="p-field">
        <label for="confirm-password"></label>
        <input id="confirm-password" type="password" pInputText placeholder="Potwierdź hasło">
      </div>
      <div class="p-d-flex pf">
        <button pButton type="submit" label="Zmień hasło" routerLink="../confirmation"></button>
      </div>
    </div>
  </form>
</div>
