<div class="container confirm-email-form">
  <h3>Wprowadź kod wysłany na adres email podany podczas rejestracji</h3>
  <form [formGroup]="confirmEmailForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="confirm-email-code"></label>
        <input
          id="confirm-email-code"
          type="text"
          pInputText
          placeholder="Kod"
          formControlName="code"
          class="form-control">
      </div>
      <div class="p-d-flex">
        <button class="p-mr-2" pButton type="button" (click)="onResendCode()" label="Wyślij kod ponownie"></button>
        <button
          pButton
          type="submit"
          label="Zarejestruj się"
          [disabled]="confirmEmailForm.invalid"></button>
      </div>
    </div>
  </form>
</div>
