<div class="container registration-form">
  <h3>Zarejestruj się</h3>
  <form>
    <div class="p-fluid">
      <div class="p-field">
        <label for="email-sing-up"></label>
        <input id="email-sing-up" type="email" pInputText placeholder="Email">
      </div>
      <div class="p-field">
        <label for="login-sing-up"></label>
        <input id="login-sing-up" type="text" pInputText placeholder="Login">
      </div>
      <div class="p-field">
        <label for="password-sing-up"></label>
        <input id="password-sing-up" type="password" pInputText placeholder="Hasło">
      </div>
      <div class="p-field">
        <label for="repeat-password-sing-up"></label>
        <input id="repeat-password-sing-up" type="password" pInputText placeholder="Powtórz hasło">
      </div>
      <button pButton type="submit" label="Zarejestruj się" routerLink="registration/confirmEmail"></button>
    </div>
  </form>
</div>
