body {
  background-color: var(--surface-b);
  margin: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: var(--surface-e);
  border-radius: 45px;
  padding: 50px;
}

.pointer{
  cursor: pointer;
}
