.product-detail {
  background-color: var(--surface-e);
  padding: 5px;
  border-radius: 5px;
}

.product-image {
  padding-bottom: 20px;
  width: 30%;
  border-radius: 90px;
  object-fit: cover;
}

.content{
  padding: 50px;
}
