<div class="container reset-password-confirm-email-form">
  <h3>Aby zresetować hasło podaj kod weryfikacyjny wysłany na adres email</h3>
  <form>
    <div class="p-fluid">
      <div class="p-field">
        <label for="code"></label>
        <input id="code" type="text" pInputText placeholder="Kod">
      </div>
      <div class="p-d-flex pf">
        <button class="p-mr-2" pButton type="button" label="Wyślij kod ponownie"></button>
        <button pButton type="submit" label="Sprawdź kod" routerLink="../newPasswordForm"></button>
      </div>
    </div>
  </form>
</div>
