<div class="login-form container">
  <h3>Zaloguj się</h3>
  <form>
    <div class="p-fluid">
      <div class="p-field">
        <label for="login-sing-in"></label>
        <input id="login-sing-in" type="text" pInputText placeholder="Login">
      </div>
      <div class="p-field">
        <label for="password-sing-in"></label>
        <input id="password-sing-in" type="password" pInputText placeholder="Hasło">
      </div>
      <button pButton type="submit" label="Zaloguj się" routerLink="./"></button>
      <a routerLink="resetPassword/emailForm">Nie pamiętasz hasła?</a>
    </div>
  </form>
</div>
