<div class="container registration-form">
  <h3>Zarejestruj się</h3>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="email-sign-up"></label>
        <input
          id="email-sign-up"
          type="email"
          pInputText
          placeholder="Adres Email"
          formControlName="email"
          class="form-control">
        <div ngxErrors="email">
          <div ngxError="email">
            Wpisz poprawny adres email!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div formGroupName="passwordGroup">
        <div class="p-field">
          <label for="password-sign-up"></label>
          <input
            id="password-sign-up"
            type="password"
            pInputText
            placeholder="Hasło"
            formControlName="password"
            class="form-control">
          <div ngxErrors="passwordGroup.password">
            <div ngxError="minlength">
              Wpisz hasło 8 znakowe!
            </div>
            <div ngxError="required" when="touched">
              Pole wymagane!
            </div>
          </div>
        </div>
        <div class="p-field">
          <label for="repeat-password-sign-up"></label>
          <input
            id="repeat-password-sign-up"
            type="password"
            pInputText
            placeholder="Powtórz hasło"
            formControlName="confirmPassword"
            class="form-control">
          <div ngxErrors="passwordGroup.confirmPassword">
            <div ngxError="minlength">
              Wpisz hasło 8 znakowe!
            </div>
            <div ngxError="required" when="touched">
              Pole wymagane!
            </div>
          </div>
          <div ngxErrors="passwordGroup">
            <div ngxError="passwordMismatch">
              Hasła muszą być takie same!
            </div>
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="name-sign-up"></label>
        <input
          id="name-sign-up"
          type="text"
          pInputText
          placeholder="Imię"
          formControlName="name"
          class="form-control">
        <div ngxErrors="name">
          <div ngxError="pattern">
            Wpisz poprawne imię!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="surname-sign-up"></label>
        <input
          id="surname-sign-up"
          type="text"
          pInputText
          placeholder="Nazwisko"
          formControlName="surname"
          class="form-control">
        <div ngxErrors="surname">
          <div ngxError="pattern">
            Wpisz poprawne Nazwisko!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="city-sign-up"></label>
        <input
          id="city-sign-up"
          type="text"
          pInputText
          placeholder="Miasto"
          formControlName="city"
          class="form-control">
        <div ngxErrors="city">
          <div ngxError="pattern">
            Wpisz poprawną nazwę miasta!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="street-sign-up"></label>
        <input
          id="street-sign-up"
          type="text"
          pInputText
          placeholder="Ulica"
          formControlName="street"
          class="form-control">
        <div ngxErrors="street">
          <div ngxError="pattern">
            Wpisz poprawną nazwę ulicy!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="home-number-sign-up"></label>
        <input
          id="home-number-sign-up"
          type="text"
          pInputText
          placeholder="Numer domu"
          formControlName="homeNumber"
          class="form-control">
        <div ngxErrors="homeNumber">
          <div ngxError="pattern">
            Wpisz poprawny numer domu!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="flat-number-sign-up"></label>
        <input
          id="flat-number-sign-up"
          type="text"
          pInputText
          placeholder="Numer mieszkania"
          formControlName="flatNumber"
          class="form-control">
        <div ngxErrors="flatNumber">
          <div ngxError="pattern">
            Wpisz poprawny numer mieszkania!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="post-office-name-sign-up"></label>
        <input
          id="post-office-name-sign-up"
          type="text"
          pInputText
          placeholder="Miejscowość poczty"
          formControlName="postOfficeName"
          class="form-control">
        <div ngxErrors="postOfficeName">
          <div ngxError="pattern">
            Wpisz poprawną miejscowość poczty!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="post-office-code-sign-up"></label>
        <input
          id="post-office-code-sign-up"
          type="text"
          pInputText
          placeholder="Kod pocztowy"
          formControlName="postOfficeCode"
          class="form-control">
        <div ngxErrors="postOfficeCode">
          <div ngxError="pattern">
            Wpisz poprawny kod pocztowy!
          </div>
          <div ngxError="required" when="touched">
            Pole wymagane!
          </div>
        </div>
      </div>
      <button pButton type="submit" label="Zarejestruj się"></button>
      <button pButton type="button" label="Następne formularze" routerLink="./registration/confirmEmail"></button>
    </div>
  </form>
</div>
