<div class="header">
  <div class="p-d-flex p-jc-between p-ai-center p-flex-column p-flex-md-row">

    <div>
      <a routerLink="home">
        <i class="logo-icon"></i>
      </a>
    </div>

    <div class="search-container">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="p-input-icon-right">
        <i class="pi pi-search" type="submit"></i>
        <label for="search-input" hidden></label>
        <input
          id="search-input"
          type="text"
          pInputText
          placeholder="Wyszukaj"
          formControlName="searchValue">
      </form>
    </div>

    <div class="p-d-flex">
      <a routerLink="admin" routerLinkActive="active" *ngIf="true">
        <span class="pi pi-user-plus icon"></span>
      </a>
      <a routerLink="cart" routerLinkActive="active">
        <span class="pi pi-shopping-cart icon"></span>
      </a>
      <ng-container *ngIf="isAuthenticated">
        <a routerLink="account" routerLinkActive="active">
          <span class="pi pi-user icon"></span>
        </a>
        <a (click)="onLogout()">
          <span class="pi pi-sign-out icon"></span>
        </a>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated">
        <a routerLink="authentication" routerLinkActive="active">
          <span class="pi pi-user icon"></span>
        </a>
      </ng-container>
    </div>
  </div>
</div>
