<div>
  <h1>Ustaw nowe hasło</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="old-password"></label>
        <input
          id="old-password"
          type="password"
          pInputText
          placeholder="Stare hasło"
          formControlName="oldPassword"
          class="form-control">
      </div>
      <div formGroupName="newPasswordGroup">
        <div class="p-field">
          <label for="new-password"></label>
          <input
            id="new-password"
            type="password"
            pInputText
            placeholder="Nowe hasło"
            formControlName="newPassword"
            class="form-control">
        </div>
        <div class="p-field">
          <label for="repeat-new-password"></label>
          <input
            id="repeat-new-password"
            type="password"
            pInputText
            placeholder="Powtórz hasło"
            formControlName="confirmNewPassword"
            class="form-control">
        </div>
      </div>
      <button pButton type="submit" label="Potwierdź zmianę hasła"
              [disabled]="changePasswordForm.invalid"></button>
    </div>
  </form>
</div>
