<div class="container reset-password-email-form">
  <h3>Aby zresetować hasło podaj adres email podpięty do konta</h3>
  <form [formGroup]="resetPasswordEmailForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="email"></label>
        <input id="email"
               type="email"
               pInputText
               placeholder="Email"
               formControlName="email">
      </div>
      <button pButton type="submit" label="Wyślij kod"></button>
    </div>
  </form>
</div>
